<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/user/login">
        
        <input type="text" name="email" placeholder="example@gmail.com">
        <input type="text" name="password" placeholder="Enter your password">
        <button type="submit">submit</button>
    </form>
</body>
</html>